<form action="/usuario/envio_pago" method="POST">
    <div class="container">
    <div class="row vdivide">
        <div class="col-sm-6 text-center jumbotron mt-6">
            <h2>Opciones de Envio</h2>
            <div class="container"> 
                <select name="metodoDeEnvio" class="form-control" id="select" required>
                    <option selected>Metodo de envio</option>
                    <option value="domicilio">A domicilio</option>
                    <option value="local">Retirar del local</option>
                </select>
                <div  id="direccion"  style="display:none;">
                    <h4  class="text-left">Ingrese una direccion</h4>
                        <input type="text" class="form-control " name="direccion" value="{{user.direccion}}"> 
                    
                </div>
                <script>
                    $('#select').on('change', function() {
                        if(this.value == "domicilio") {
                            $('#direccion').show();
                        }else{
                            $('#direccion').hide();
                        }
                    });    
                </script>
            </div>
        </div>
        <div class="col-sm-6 text-center jumbotron mt-6">
            <h2>Opciones de Pago</h2>
            <div class="container"> 
                <select name="pago" class="form-control" id="select2" required>
                    <option selected>Metodo de Pago</option>
                    <option value="tarjeta">Tarjeta de Credito</option>
                    <option> Mercado Pago</option>
                    <option> Descuento por planilla</option>
                </select>
                <div  id="datos_tarjeta"  style="display:none;">
                    <h4 class="text-left">Ingrese los datos de la tarjeta</h4>
                    <input type="text" class="form-control" name="nombre" placeholder="Nombre y apellido del tiutlar de la tarjeta" required>
                    <input type="text" class="form-control" name="numero_tarjeta" placeholder="Numero de Tarjeta" required>
                    <input type="text" class="form-control" name="vencimiento" placeholder="Fecha de vencimiento" required>
                    <div>
                        <h6>Catidad de cuotas</h6>
                        <input type="number" class="form-control" name="cuotas" min="1" placeholder="Ingrese la cantidad de cuotas" step="1" value="1" required> 
                    </div>
                    
                </div>
                <script>
                    $('#select2').on('change', function() {
                        //  alert( this.value ); // or $(this).val()
                        if(this.value == "tarjeta") {
                            $('#datos_tarjeta').show();
                        }else{
                            $('#datos_tarjeta').hide();
                        }
                    });    
                </script>
            </div>
    </div>
    <div style="margin-top:10px; margin-left:1000px">
            <button type="submit" class="btn btn-primary">Continuar</button>
    </div>
</form>