  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="margin-bottom: 50px;">
    <div class="container">
      <a class="navbar-brand" href="/">SMAUNSE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive"><ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Optica
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/producto/todos/anteojos">Anteojos</a>
              <a class="dropdown-item" href="/producto/todos/lentes">Lentes</a>
              <a class="dropdown-item" href="/producto/todos/repuestos">Repuestos</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Regaleria
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/producto/todos/regaleria/ni単os">Ni単os</a>
              <a class="dropdown-item" href="/producto/todos/regaleria/adolecentes">adolecentes</a>
              <a class="dropdown-item" href="/producto/todos/regaleria/adultos">adultos</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Perfumeria
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/producto/todos/perfumeria/ni単os">Ni単os</a>
              <a class="dropdown-item" href="/producto/todos/perfumeria/mujeres">Muejeres</a>
              <a class="dropdown-item" href="/producto/todos/perfumeria/hombres">Hombres</a>
            </div>
          </li>
          <form class="navbar-form" role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Busca Productos, Marcas o rubros" name="q">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
          </form>
        </ul>
      {{#if user}}  
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/usuario/compras">Mis compras</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/usuario/carrito">Mi carrito</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/usuario/cuenta">Mi cuenta</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/usuario/logout">Salir</a>
          </li>
        </ul>
      {{else}}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/usuario/login">Ingresar</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/usuario/registro">Registrarse</a>
          </li>
        </ul>
      {{/if}}
      </div>
    </div>
  </nav>