body {
    padding-top: 56px;
    background: #e9ecef;  /* fallback for old browsers */
  }
  .navbar{
    background-color: #39558e!important;
  }
  .navbar a{
    color: #ECEFF1!important ;
      cursor: pointer;
  }

  .buscador{
        width: 350px;
    margin-left: 90px;
  }
  .navbar .btn-busqueda{
      background-color: #CFD8DC;
  }
  .navbar a.dropdown-item{
    color: #212529!important;
  }
  img.logo{
    height: 46px;
    border-radius: 10px;
  }
  
  .mx-auto{
        margin: 50px;
  }
  .bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 280px;
  }

  .carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


  /* estilos de la vista de todos los productos */
  .portfolio-item {
    margin-bottom: 30px;
  }

  .producto_todos {
    padding: 50px;
  }

  .card{
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }

  [type=button], [type=reset], [type=submit]{
        -webkit-appearance: none;
  }