<div class="row">
    <div class="card">
        {{!-- <img src="..." class="card-img-top" alt="..."> --}}
        <div class="card-body">
            <h6 class="card-title">{{producto.nombre}}</h6>
            <h5 class="card-title">${{producto.precio}}</h5>
            <div class="card-body">
                <p>{{producto.codigo_barra}}</p>
                <form action="/producto/carrito" method="POST">
                    <input type="hidden" value="{{producto.id}}" name="id_producto">
                    <button class="btn btn-sm btn-outline-success" type="submit">Agregar al carrito</button>
                </form>
            </div>
        </div>
    </div>        
</div>